/* ./your-css-folder/styles.css */

/* postcss.config.js */

.new-btn:hover {

    --tw-rotate: 1deg;

    transform: var(--tw-transform);

    transform: rotate(1)
}

@media (min-width: 640px) {

    .new-btn {

        transform: scale(1)
    }
}